$marginLeft: 15px;
$marginRight: 15px;
$paddingLeft: 15px;
$paddingRight: 15px;

$commonMargin: 5px;
$commonPadding: 5px;

$borderRadiusSmall: 2px;
$borderRadiusMedium: 5px;

/*
    Menu
*/
$menuWidth: 60px;
$navExpanded: 175px;


/*
    Color
*/
$vLightBlue: #fbfbfb;
$vLightBlack: #e5e5e5;